.sidebar {
  
  width: 30%;
  float: right;
  background-color: lightcyan;
  color: darkolivegreen;
}

.main {
  float: right;
  background-color: lightblue;
  color: darkgreen;
  font-family: Impact;
}