body {
  color: black;
  background-color: lightpink;
}

.headline {
  font-style: italic;
  border:3px salmon;
  background-color: pink;
  padding: 10px;
  margin-top: 10pc;
  margin-bottom: 10px;
  width: 40%;
  box-sizing: border-box;
}

.sidebar {
  width: 40%;
  float: left;
  background-color: goldenrod;
  color:brown;
  border:3px burlywood;
  margin-top: 10px;
  box-sizing: border-box;

}

.main {
  width: 50%;
  float: right;
  background-color: lightblue;
  color: darkgreen;
  font-family:georgia;
}

